.dark {
    background-color: #181818;
    color: rgb(197, 197, 197);
    .main {
        .catalog {
            background-color: #181818;
        }
        .editor {
            background-color: #1f1f1f;
            .content {
                [class*="content-"] {
                    border: 1px solid #313131;
                    border-right: 0px;
                }
            }
        }
    }
    .footer {
        .shortcut {
            .catalogController {
                .list-img {
                    background-image: url(../images/list-ul-light.png);
                }
                .slash-img {
                    background-image: url(../images/slash-light.png);
                }
            }
        }
    }
    .import-popup {
        background-color: #1f1f1f;
        border: 1px solid #313131;
    }
}
