.dark {
    background-color: #181818;
    color: rgb(197, 197, 197);
    .main {
        .catalog-container{
            background-color: #181818;
        }
        .editor {
            background-color: #1f1f1f;
            .content {
                [class*="content-"] {
                    border: 1px solid #313131;
                    border-right: 0px;
                }
                .content-md{
                    border-left: none;
                    border-bottom: none;
                }
            }
        }
    }
    .footer {
        .shortcut {
            .catalogController {
                .list-img-open {
                    background-image: url(../images/eye-light.png);
                }
                .list-img-close {
                    background-image: url(../images/eye-slash-light.png);
                }
            }
            .split{
                background-color: #313131;
            }
            .shortcut-bold{
                background-image: url(../images/bold-light.png);
            }
            .shortcut-strikethrough{
                background-image: url(../images/strikethrough-light.png);
            }
            .shortcut-italic{
                background-image: url(../images/italic-light.png);
            }
            .shortcut-underline{
                background-image: url(../images/underline-light.png);
            }
            .shortcut-mark{
                background-image: url(../images/paintbrush-light.png);
            }
            .shortcut-quote{
                background-image: url(../images/quote-right-light.png);
            }
            .shortcut-redoundo{
                background-image: url(../images/reply-light.png);
            }
            .shortcut-line{
                background-image: url(../images/minus-light.png);
            }
        }
    }
    .popup {
        background-color: #1f1f1f;
        border: 1px solid #313131;
    }
}
