.dropdown {
    font-size: 13px;
    float: left;
    position: relative;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;

    .dropdown-menu {
        min-width: 300px;
        height: auto;
        position: absolute;
        top: 20px;
        left: 0px;
        background-color: rgba(40,40,40);
        padding: 10px;
        border-radius: 6px;
        display: none;
        z-index: 30;
    }
}
.dropdown:hover {
    background-color: rgba(50, 50, 50);
}
.active {
    background-color: rgb(40,40,40);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    .dropdown-menu {
        display: block;
        border-top-left-radius: 0px;
    }
}
